@import url("https://fonts.googleapis.com/css2?family=Alata&family=Roboto:wght@300;400;500;700&display=swap");
html {
  color: #314B66;
}

h4 {
  font-size: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  margin: 10px 0;
  color: #3274B7;
  line-height: 25px;
}

h5 {
  margin: 10px 0;
}

a {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  color: #3274B7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

html {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  color: #314B66;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
  background: #F5F5F5;
  border: 0;
  height: 2px;
  max-width: 1440px;
  margin: 0 auto;
}

button {
  background-image: linear-gradient(to top, #3274B7 0%, #29B552 50%);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.mb {
  margin-bottom: 20px !important;
}

.border-left {
  border-left: 2px solid #F5F5F5;
  padding-left: 10px;
}

.menu {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 1440px;
  margin: 0 auto;
}
.menu .logo {
  font-size: 24px;
  margin-right: 20px;
  flex: auto;
  padding-left: 30px;
}
.menu .menu-links {
  flex: auto;
}
.menu .menu-links ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.menu .menu-links ul li {
  margin-left: 20px;
  position: relative;
}
.menu .menu-links ul li a {
  color: #314B66;
  text-decoration: none;
}
.menu .menu-links ul li .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #3274B7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: max-content;
  padding: 0;
  z-index: 99;
}
.menu .menu-links ul li .submenu li {
  margin: 0;
  padding: 10px;
}
.menu .menu-links ul li .submenu li a {
  color: #fff;
  text-decoration: none;
}
.menu .menu-links ul li .submenu li:hover {
  background: #314B66;
}
.menu .menu-links ul li:hover .submenu {
  display: block;
}
.menu .social {
  flex: auto;
  display: flex;
}
.menu .toggle {
  width: 35px;
}
.menu .toggle .menu-toggle {
  display: table;
  margin-top: 10px;
  width: 25px;
  float: right;
  cursor: pointer;
}
.menu .toggle .menu-toggle span {
  background-color: #314B66;
  height: 2px;
  width: 25px;
}
.menu .social ul {
  display: flex;
  justify-content: flex-end;
  flex: auto;
  list-style: none;
}
.menu .social ul li {
  flex: none;
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
}
.menu .social ul li span {
  margin-left: 5px;
  display: block;
}

.cont_five_column {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}
.cont_five_column .item {
  width: 18%;
  margin: 1%;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .cont_five_column .item {
    width: 31.33%;
    margin: 1%;
  }
}
@media screen and (max-width: 480px) {
  .cont_five_column .item {
    width: 23%;
    margin: 1%;
  }
}

.cont_four_column {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}
.cont_four_column .item {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .cont_four_column .item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .cont_four_column .item {
    width: 100%;
  }
}

.cont_three_column {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}
.cont_three_column .item {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 480px) {
  .cont_three_column .item {
    width: 100%;
  }
}

.cont_two_column {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}
.cont_two_column .item {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 480px) {
  .cont_two_column .item {
    width: 100%;
  }
}

.cont_one_column {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.box-full {
  width: 96%;
  padding: 40px 2%;
}
.box-full.verde {
  background: #29B552;
}
.box-full.verde .title {
  color: #fff;
}
.box-full.verde .subtitle {
  color: #fff;
}
.box-full.verde-gradiente {
  background-image: linear-gradient(to top, #3274B7 0%, #29B552 20%);
}
.box-full.verde-gradiente .title {
  color: #fff;
}
.box-full.verde-gradiente .subtitle {
  color: #fff;
}
.box-full.verde-gradiente-50 {
  background-image: linear-gradient(to top, #3274B7 0%, #29B552 50%);
}
.box-full.azul {
  background: #3274B7;
}
.box-full .title {
  text-align: center;
  margin: 0 0 10px 0;
  color: #fff;
}
.box-full .subtitle {
  text-align: center;
  display: block;
  margin: 0;
  color: #fff;
}

#chams_servicos {
  background-color: #29B552;
  color: #fff;
  padding: 40px 0;
}
#chams_servicos .item {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
#chams_servicos .item img {
  width: auto;
  margin: 0 auto 10px auto;
}
#chams_servicos .item h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin: 0 auto;
  max-width: 211px;
}
#chams_servicos .item h3 p {
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  margin: 7px auto 0 auto;
  text-align: justify;
  display: block;
}

#cham_quemsomos {
  background-color: #fff;
  color: #314B66;
  padding: 40px 0;
}
#cham_quemsomos h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
  font-size: 30px;
  color: #3274B7;
  margin: 0 0 10px 0;
}
#cham_quemsomos p {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
}
#cham_quemsomos .subtitle {
  color: #314B66;
}
#cham_quemsomos .item {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
#cham_quemsomos .item img {
  width: auto;
  margin: 0 auto 10px auto;
}
#cham_quemsomos .item h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 0 auto;
  max-width: 211px;
  text-transform: uppercase;
  text-align: center;
}
#cham_quemsomos .item h3 p {
  text-transform: none;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  text-align: justify;
  display: block;
}

#cham_nossa_presenca {
  color: #fff;
  padding: 40px 0 10px 0;
}
#cham_nossa_presenca h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  text-align: center;
  width: 100%;
  font-size: 30px;
  margin: 0 0 10px 0;
}
#cham_nossa_presenca p {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
}
#cham_nossa_presenca .item {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}
#cham_nossa_presenca .item h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 96px;
  margin: 0 auto;
  max-width: 211px;
  text-transform: uppercase;
  text-align: center;
}
#cham_nossa_presenca .item h3 span {
  font-size: 64px;
  text-transform: lowercase;
}
#cham_nossa_presenca .item h3 div {
  text-transform: none;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  margin: 0 auto;
  text-align: justify;
  display: block;
}
#cham_nossa_presenca hr {
  background: #fff;
}

#cham_nossa_principais {
  color: #fff;
  padding: 10px 0 40px 0;
}
#cham_nossa_principais .item {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#cham_nossa_principais .item h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin: 0 auto;
  max-width: 100%;
  text-align: left;
}
#cham_nossa_principais .item h3 p {
  text-transform: none;
  font-size: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  margin: 10px auto;
  text-align: justify;
  display: block;
}
#cham_nossa_principais .item:first-child {
  border-right: 2px solid #fff;
}

#cham_ajuda {
  color: #fff;
  color: #fff;
  padding: 40px 0;
}
#cham_ajuda .item {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  background: #3274B7;
  border-radius: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
#cham_ajuda .item img {
  width: auto;
  margin: 0 auto 10px auto;
}
#cham_ajuda .item h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin: 0 auto;
  max-width: 211px;
}
#cham_ajuda .item h3 p {
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  text-align: justify;
  display: block;
}

.paralax-ajuda {
  background-image: url("img/bg_ajuda.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cham_projetos {
  background-color: #fff;
  color: #314B66;
  padding: 40px 0;
}
#cham_projetos h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
  font-size: 30px;
  color: #3274B7;
  margin: 0 0 10px 0;
}
#cham_projetos p {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
}
#cham_projetos .subtitle {
  color: #314B66;
}

/*interna*/
.titulo-interna {
  color: #3274B7;
  background-image: linear-gradient(to right, #fff 10%, #3274B7 70%, #29B552 100%);
}
.titulo-interna h1 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 200;
  font-size: 30px;
  margin: 0 0 10px 0;
}
.titulo-interna h1 div {
  margin: 0 auto;
  padding-left: 20px;
}
.titulo-interna > div {
  background: url(img/bg_circulos.png);
  background-position: center;
  padding: 40px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.texto-foto {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.texto-foto .img_destaque {
  padding: 10px;
  max-width: 530px;
}
.texto-foto .img_destaque img {
  border-bottom-right-radius: 110px;
  width: 100%;
}
.texto-foto .texto {
  padding: 10px;
}
.texto-foto div {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .texto-foto {
    flex-direction: column;
  }
  .texto-foto .img_destaque {
    margin: 0 auto;
  }
}

.tab-list-horizontal {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  margin: 0 auto;
}
.tab-list-horizontal > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  flex: 0 0 25%;
}
.tab-list-horizontal > ul li {
  padding: 10px 5%;
  cursor: pointer;
  margin-bottom: 5px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background: #29B552;
  width: 90%;
  text-transform: uppercase;
}
.tab-list-horizontal > ul li.active, .tab-list-horizontal > ul li:hover {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  background: #3274B7;
}
.tab-list-horizontal > ul :last-child {
  margin-bottom: 0;
}
.tab-list-horizontal > ul ::after {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 30px;
  content: ">";
  position: absolute;
  float: right;
  transform: rotate(0deg);
  position: relative;
  transition: margin-right 0.3s ease-in-out;
}
.tab-list-horizontal > ul :hover::after {
  margin-right: -10px;
}
.tab-list-horizontal > div {
  background: #3274B7;
  color: #fff;
  flex: 1;
}
.tab-list-horizontal > div div {
  padding: 20px;
  display: none;
}
.tab-list-horizontal > div .active {
  display: block;
}
@media screen and (max-width: 768px) {
  .tab-list-horizontal {
    flex-direction: column;
  }
  .tab-list-horizontal > ul {
    flex: 1;
  }
  .tab-list-horizontal > ul li::after {
    transform: rotate(90deg);
    transition: margin-top 0.3s ease-in-out;
  }
  .tab-list-horizontal > ul li:hover::after {
    margin-top: -5px;
  }
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
}

#contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
#contact-form .form-column {
  flex: 1;
  max-width: calc(50% - 10px);
}
#contact-form label, #contact-form input, #contact-form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border: 0;
  background: #D9D9D9;
  padding: 5px;
}
#contact-form button {
  width: 100%;
}

#contact-form-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
#contact-form-page .form-column {
  flex: 1;
  max-width: calc(50% - 10px);
}
#contact-form-page label, #contact-form-page input, #contact-form-page textarea {
  display: block;
  margin-bottom: 10px;
  width: calc(100% - 30px);
  border: 0;
  background: #D9D9D9;
  padding: 15px;
}
#contact-form-page textarea {
  height: 80px;
}
#contact-form-page button {
  width: 100%;
}

.icon-telfone::before {
  content: "";
  background: url(img/icon-telefone.png) no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -25px;
}

.icon-email::before {
  content: "";
  background: url(img/icon-email.png) no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -25px;
}

.icon-telfone, .icon-email {
  display: block;
  padding-left: 25px;
  margin-bottom: 10px;
}

/*fim interna*/
footer {
  color: #fff;
  padding: 40px 0;
}
footer .item h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  max-width: 211px;
  color: #fff;
  text-align: left;
  margin: 0;
}
footer .item h3 img {
  width: 100%;
}
footer .item h3 p {
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  text-align: justify;
  display: block;
}
footer .item:nth-of-type(2) {
  padding-left: 40px;
}
footer hr {
  background: #fff;
}

@media screen and (max-width: 768px) {
  .menu .menu-links {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .menu .menu-links ul {
    flex-direction: column;
    justify-content: space-between;
  }
  .menu .menu-links.show {
    display: flex;
  }
  .menu .menu-links li {
    margin: 10px 0;
  }
  .menu .menu-links .has-submenu .submenu {
    display: none;
    position: static;
    background-color: transparent;
    box-shadow: none;
  }
  .menu .menu-links .has-submenu .submenu li a {
    color: #314B66;
    text-decoration: none;
  }
  .menu .menu-links .has-submenu.show .submenu {
    display: block;
  }
  .menu .toggle .menu-toggle {
    display: table;
    margin-top: 10px;
  }
  .menu .toggle .menu-toggle.active .menu-links {
    display: flex;
  }
  .menu .toggle .menu-toggle span {
    background-color: #314B66;
    height: 2px;
    width: 25px;
    display: block;
    margin: 5px;
  }
}
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slideshow-container .slide {
  display: none;
}
.slideshow-container .slide.fade {
  animation: fade 10s ease-in-out infinite;
}
.slideshow-container .slide img {
  width: 100%;
  height: auto;
}
.slideshow-container .slide .text {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 0;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
}
#projetos-carousel {
  padding: 40px 0;
  max-width: 1440px;
  margin: 0 auto;
}
#projetos-carousel .carousel-cell {
  width: 28%;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  height: 340px;
}
#projetos-carousel .carousel-cell a {
  display: block;
  width: 228px;
  height: 333px;
  margin: 0 12%;
  overflow: hidden;
}
#projetos-carousel .carousel-cell a div {
  position: absolute;
  top: 20px;
  transition: transform 0.3s ease;
  width: 228px;
}
#projetos-carousel .carousel-cell a div img {
  margin: 0 auto;
  border-radius: 10px;
}
#projetos-carousel .carousel-cell a div h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 0 auto;
}
#projetos-carousel .carousel-cell a div h3 p {
  text-transform: none;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  margin: 5px auto 0 auto;
  text-align: justify;
  display: block;
}
#projetos-carousel .carousel-cell a:hover div {
  transform: translateY(-20px);
}
#projetos-carousel .flickity-page-dots {
  top: 20px;
  bottom: auto;
}

#header-carousel {
  /* cell number */
}
#header-carousel .carousel-cell {
  width: 100%;
  margin-right: 10px;
  background: #29B552;
}
#header-carousel .carousel-cell img {
  width: 100%;
}
#header-carousel .carousel-cell .text {
  position: absolute;
  width: 40%;
  top: 50%;
  margin-top: -100px;
  line-height: 120px;
  color: #fff;
  left: 10%;
  font-size: 96px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
}
#header-carousel .carousel-cell .text span {
  font-size: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  display: block;
  line-height: normal;
}
#header-carousel .carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
#header-carousel .flickity-page-dots {
  bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
